Repository Computer-Science-Club-OCC/Computer-Science-Club-OCC.github.io, pull requests merged in 2022-08, with the labels that each got.

#21 update resources css
  src/resources/Resources.js
  src/resources/resources.css
  src/resources/utils.js
Labels: CSS, Resources-page, Frontend, fix

#34 Apply Prettier formatting to entire project
  src/App.js
  src/activity/Activity.js
  src/activity/Events.js
  src/activity/Projects.js
  src/activity/activity.css
  src/app.css
  src/home/Homepage.js
  src/index.js
  src/navbar/HeaderBar.js
  src/navbar/NavigationBar.js
  src/navbar/header_bar.css
  src/navbar/navbar.css
  src/resources/Organizations.js
  src/resources/Research.js
  src/resources/Resources.js
  src/resources/Tutorials.js
  src/resources/resources.css
Labels: feature-request

#36 NavBar and Activity file cleanup
  src/activity/Activity.js
  src/navbar/HeaderBar.js
  src/navbar/NavigationBar.js
  src/navbar/header_bar.css
  templates/activity-mockup.html
Labels: Activity-page, Frontend, Cleanup

#33 Activity dummy data
  package-lock.json
  package.json
  src/activity/fakeData.js
Labels: Activity-page, feature-request

#38 Apply linter rules
  src/activity/Activity.js
  src/navbar/NavigationBar.js
  src/resources/Resources.js
Labels: Resources-page, Activity-page, fix, Nav-Bar, Cleanup

#42 reformat fakeData for activity
  src/activity/fakeData.js
Labels: Activity-page, fix

#35 Create Github Actions file to test builds before merging
  .gitattributes
  .github/workflows/node.js.yml
Labels: CI/CD

#40 replace background image with color
  src/app.css
Labels: Frontend, fix

#37 Activity Events Frontend
  package-lock.json
  package.json
  src/App.js
  src/activity/Activity.js
  src/activity/Events.js
  src/activity/events/Events.js
  src/activity/events/EventsList.js
  src/activity/events/events.css
  src/activity/fakeData.js
Labels: CSS, Activity-page, Frontend

#51 disable activity page
  src/navbar/NavigationBar.js
Labels: Activity-page, Cleanup

#55 Add guidelines for developer
  README.md
Labels: documentation

#50 Resource dropdown boxes & rendering fake data
  package-lock.json
  package.json
  src/resources/Organizations.js
  src/resources/Readings.js
  src/resources/Resources.js
  src/resources/Tutorials.js
  src/resources/resources.css
Labels: CSS, Resources-page, React, Frontend, feature-request

#49 Pagination for Event
  src/activity/events/Events.js
  src/activity/events/EventsList.js
  src/activity/events/components/EventBrief.js
  src/activity/events/components/EventDate.js
  src/activity/events/components/EventDetails.js
  src/activity/events/components/EventPagination.js
  src/activity/events/components/EventPosters.js
  src/activity/events/components/EventsHeader.js
  src/activity/events/components/ExpandButton.js
  src/activity/events/events.css
  src/activity/fakeData.js
Labels: Activity-page, React, feature-request
