Repository Computer-Science-Club-OCC/Computer-Science-Club-OCC.github.io, pull requests merged in 2022-09, with the labels that each got.

#70 63-Fixed broken workflow bc/ of refactor
  .github/workflows/node.js.yml
Labels: fix, CI/CD

#71 Add about section for homepage
  client/src/pages/home/Homepage.js
  client/src/pages/home/components/about/About.js
  client/src/pages/home/components/about/about.css
Labels: CSS, Home-page, Frontend

#72 Change homepage dropdowns in navbar
  client/src/components/navbar/NavigationBar.js
Labels: Frontend

#73 Add contact us section to homepage
  client/package-lock.json
  client/package.json
  client/src/app.css
  client/src/pages/home/Homepage.js
  client/src/pages/home/components/about/About.js
  client/src/pages/home/components/about/about.css
  client/src/pages/home/components/contact-us/ContactUs.js
  client/src/pages/home/components/contact-us/contact-us.css
Labels: CSS, Home-page, Frontend

#75 Replace the old preview url with a new one
  README.md
Labels: documentation

#82 Add mongo connection check and fix cs_club doesn't show up in mongodb
  backend/index.js
  backend/models/events/events-model.js
  backend/models/image/image-model.js
  backend/utils/check-mongo-status.js
Labels: enhancement, Backend

#84 Nav bar transition not easing out + redundant css code
  client/src/components/navbar/navbar.css
Labels: CSS, Frontend

#85 Modify and Test Event Model
  backend/models/events/events-model.js
  backend/models/events/events-model.test.js
Labels: Backend, MongoDB, Data Model

#87 Projects Data Model and Tests
  backend/index.js
  backend/models/projects/projects-model.js
  backend/models/projects/projects-model.test.js
Labels: Backend, Data Model
