Repository Computer-Science-Club-OCC/Computer-Science-Club-OCC.github.io, pull requests merged in 2022-11, with the labels that each got.

#108 contact us header tag overflow styles fixed
  client/src/pages/home/components/contact-us/contact-us.css
Labels: Home-page, Frontend, fix

#114 Data Model - Tutorials
  backend/models/tutorials/tutorials-model.js
  backend/models/tutorials/tutorials-model.test.js
  backend/package-lock.json
Labels: Backend, Data Model

#115 Controller Framework
  backend/.env
  backend/framework/controller.js
  backend/framework/index.js
  backend/index.js
  backend/middleware/passport-magic-login.js
  backend/package-lock.json
  backend/package.json
  backend/utils/check-mongo-status.js
Labels: enhancement, Backend, not ready PR, Controller Framework

#116 User Model Group
  backend/models/user-action/user-action-model.js
  backend/models/user-action/user-action-model.test.js
  backend/models/user/user-model.js
  backend/models/user/user-model.test.js
  backend/package-lock.json
  backend/package.json
Labels: Backend, MongoDB, Data Model
