Repository Computer-Science-Club-OCC/Computer-Science-Club-OCC.github.io, pull requests merged in 2022-07, with the labels that each got.

#10 Add resouces.css and background
  src/app.css
  src/asset/images/background.jpg
  src/resources/Resources.js
  src/resources/resources.css
Labels: css, resources

#16 Install eslint & prettier
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Labels: enhancement, install-package

#32 Format code instruction
  README.md
Labels: documentation

#19 This fixes issue #12 which opens the corresponding tab indicated by e…
  src/navbar/NavigationBar.js
  src/resources/Resources.js
Labels: Frontend, fix
