Repository Computer-Science-Club-OCC/Computer-Science-Club-OCC.github.io, pull requests merged in 2022-10, with the labels that each got.

#93 Setup TailwindCSS
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/src/App.js
  client/src/app.css
  client/tailwind.config.js
Labels: enhancement, CSS, Frontend

#89 Tags Data Model and Tests #64
  backend/index.js
  backend/models/tags/tags-model.js
  backend/models/tags/tags-model.test.js
Labels: Backend, MongoDB, Data Model, hacktoberfest

#95 Docker
  README.md
  backend/Dockerfile.dev
  backend/index.js
  client/Dockerfile.dev
  docker-compose.yaml
Labels: Backend, CI/CD

#88 Organizations Data Model and Tests
  backend/index.js
  backend/models/organizations/orgs-model.js
  backend/models/organizations/orgs-model.test.js
  backend/models/tags/tags-model.js
  backend/models/tags/tags-model.test.js
Labels: Backend, MongoDB, Data Model

#94 Image file upload middleware and modify image field in data model
  backend/index.js
  backend/middleware/upload-static.js
  backend/models/events/events-model.js
  backend/models/image/image-model.js
  backend/models/image/image-model.test.js
  backend/models/projects/projects-model.js
  backend/public/uploads/test-johnny.png
  backend/routes/images/images-route.js
Labels: Backend, feature-request, API Routing

#105 convert file extensions from js -> jsx
  client/src/App.jsx
  client/src/components/navbar/NavigationBar.jsx
  client/src/pages/activity/Activity.jsx
  client/src/pages/events/Events.jsx
  client/src/pages/events/components/EventBrief.jsx
  client/src/pages/events/components/EventDate.jsx
  client/src/pages/events/components/EventDetails.jsx
  client/src/pages/events/components/EventPagination.jsx
  client/src/pages/events/components/EventPosters.jsx
  client/src/pages/events/components/EventsHeader.jsx
  client/src/pages/events/components/ExpandButton.jsx
  client/src/pages/home/Homepage.jsx
  client/src/pages/home/components/about/About.jsx
  client/src/pages/home/components/contact-us/ContactUs.jsx
  client/src/pages/projects/Projects.jsx
  client/src/pages/resources/Organizations.jsx
  client/src/pages/resources/Readings.jsx
  client/src/pages/resources/Resources.jsx
  client/src/pages/resources/Tutorials.jsx
Labels: enhancement, Frontend, feature-request

#106 Lazy load routes + error and loading component states
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/states/error.jsx
  client/src/components/states/index.js
  client/src/components/states/loading.jsx
  client/tailwind.config.js
Labels: enhancement, feature-request, Cleanup, hacktoberfest

#107 Optimize Events and Clean up
  client/src/components/events/events.css
  client/src/components/events/events.jsx
  client/src/pages/events/Events.jsx
  client/src/pages/events/components/EventBrief.jsx
  client/src/pages/events/components/EventDate.jsx
  client/src/pages/events/components/EventDetails.jsx
  client/src/pages/events/components/EventPagination.jsx
  client/src/pages/events/components/EventPosters.jsx
  client/src/pages/events/components/EventsHeader.jsx
  client/src/pages/events/components/ExpandButton.jsx
  client/src/pages/events/events-page.css
Labels: enhancement, Frontend, Events-page

#111 Migrate Webpack to Vite
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/index.jsx
  client/src/pages/resources/fakeData.js
  client/vite.config.js
Labels: enhancement, Frontend, hacktoberfest
