Repository Computer-Science-Club-OCC/Computer-Science-Club-OCC.github.io, pull requests merged in 2023-04, with the labels that each got.

#125 controller framework and tests for tag routes
  backend/app.js
  backend/config.js
  backend/controllers/tags/tags-controller.js
  backend/framework/controller.js
  backend/index.js
  backend/models/events/events-model.test.js
  backend/models/organizations/orgs-model.test.js
  backend/models/projects/projects-model.test.js
  backend/models/readings/readings-model.test.js
  backend/models/tags/tags-model.js
  backend/models/tags/tags-model.test.js
  backend/models/tutorials/tutorials-model.test.js
  backend/models/user-action/user-action-model.test.js
  backend/models/user/user-model.test.js
  backend/routes/tags/tags-route.js
  backend/routes/tags/tags-route.test.js
  backend/utils/test/data/tags.data.json
  backend/utils/test/db-test-setup.js
Labels: Backend, API Routing, Controller Framework

#132 Siddhant jain frontend restyle resources tab bar
  client/src/pages/resources/Resources.jsx
  client/src/pages/resources/resources.css
Labels: enhancement, CSS, Frontend, Tailwind CSS

#138 Add colors to tailwind.config.js
  client/src/pages/manager/login/login.css
  client/tailwind.config.js
Labels: enhancement, Frontend

#141 added event wrapper component
  client/src/components/events/event-expand/event-content.css
  client/src/components/events/event-expand/event-content.jsx
  client/src/pages/events/Events.jsx
Labels: CSS, React, Frontend
